.favourites_head {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 40px;
  text-shadow: 0 0 5px #2e2b2e, 0 0 10px #e8dfe8, 0 0 15px #525b5b;
  font-size: 45px;
}
.noFavourites{
    color: white;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 200px;
    font-weight: 400;
}
@media (max-width:1070px){
    .favourites_head{
        font-size: 40px;
    }
}
@media (max-width: 570px) {
  .favourites_head {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .noFavourites{
    margin-top: 200px;
    font-size: 35px;
  }
}
