.topmovies_head {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
  text-shadow: 0 0 5px #2e2b2e, 0 0 10px #e8dfe8, 0 0 15px #525b5b;
}
.movie_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  scroll-behavior: smooth;
}
.movie_card {
  margin: 8px;
  padding: 20px;
  animation: card-anime 1.5s ease-in-out;
}
.movie_img {
  width: 300px;
  height: 400px;
  border: white 2px solid;
  border-bottom: none;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  overflow: hidden;
}
.movie_poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.favorite_btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 30px;
  border: none;
  background: none;
  cursor: pointer;
}
.liked_anime {
  animation: like-heart-pop 0.5s ease-out;
}
.notliked_anime {
  animation: unlike-heart-pop 0.5s ease-out;
}
.details-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.movie_details {
  background-color: rgb(96, 85, 85);
  color: white;
  padding: 15px;
  border-radius: 0px 0px 30px 30px;
  border: white 2px solid;
  border-top: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
}
.movie_Title {
  margin-bottom: 5px;
  font-size: 20px;
  font-size: clamp(16px, 2vw, 20px);
  max-width: 100%;
  min-width: 0;
}
.movie_card:hover {
  opacity: 0.5;
}

@keyframes card-anime {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes like-heart-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes unlike-heart-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.9);
  }
  100% {
    transform: scale(1);
  }
}

.movie-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.movie-inner-overlay {
  background: #222;
  color: white;
  width: 60%;
  max-width: 90%;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  border-radius: 50px;
}
.close-btn {
  position: absolute;
  top: -5px;
  right: -35px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.movie-panel {
  display: flex;
  flex-direction: row;
}
.panel-img {
  padding: 20px;
}
.panel-img img {
  width: 350px;
  height: auto;
  border-radius: 50px;
  border: 2px white solid;
  margin-right: 50px;
}
.panel-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel-details p {
  padding: 10px;
  font-size: 18px;
}
.close-btn:hover {
  background: rgb(65, 69, 69, 0.5);
  border-radius: 10px;
}
@media (max-width: 1300px){
  .movie-inner-overlay{
    width: 70%;
  }
}
@media (max-width: 1070px) {
  .topmovies_head {
    font-size: 17px;
  }
   .movie_card {
    margin: 5px;
    padding: 8px;
  }
  .movie_img {
    width: 250px;
    height: 300px;
  }
  .movie_details {
    width: 250px;
  }
  .movie-inner-overlay{
    width: 80%;
  }
}
@media (max-width: 880px) {
  .topmovies_head {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .movie_container{
    margin: 0;
  }
  .movie_card {
    margin: 3px;
    padding: 5px;
  }
  .favorite_btn{
    font-size: 25px;
  }
  .movie_img {
    width: 150px;
    height: 200px;
  }
  .movie_details {
    width: 150px;
  }
  .details-btn{
    font-size: 8px;
  }
  .movie_details{
    padding: 13px;
  }
  .movie_Title{
    font-size: 15px;
  }
  .movie_year{
    font-size: 15px;
  }
 .movie-inner-overlay {
    width: 95%;
    padding: 20px;
    border-radius: 30px;
  }
  .movie-panel {
    flex-direction: column; 
    align-items: center;
  }
  .panel-img {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .panel-img img {
    width: 200px; 
    margin: 0;
  }
  .panel-details {
    width: 100%;
    align-items: flex-start; 
  }

  .panel-details p {
    font-size: 15px;
    padding: 5px 0;
  }

  .close-btn {
    top: 10px;
    right: 10px;
    background: none;
  }

}
