nav {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  z-index: 5;
}
.nav_head {
  font-size: 40px;
  color: white;
}
.nav_lists {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  font-size: 20px;
}
.nav_link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding-bottom: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}
.nav_link:hover {
  opacity: 0.5;
}
.nav_link.active span {
  opacity: 0.6;
  color: cyan;
}
.nav_link.active::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: cyan;
  border-radius: 50px;
  left: 0%;
  bottom: 0%;
  width: 100%;
}
.hamburger {
  color: white;
  font-size: 35px;
  display: none;
  cursor: pointer;
}

/* Moblie screen  */

@media (max-width: 855px) {
  nav{
    flex-wrap: wrap;
    padding: 0;
  }
  .nav_head{
    padding: 10px;
    font-size: 35px;
  }
  .hamburger {
    display: block;
    margin-right: 20px;
    font-size: 30px;
  }
  .nav_lists {
    display: none;
    flex-direction: column;
    gap: 0px;
    position: relative;
    top: 0px;
    left: 0;
    background-color: #111111;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  .nav_lists li {
    border-bottom: rgba(128, 128, 128, 0.222) 2px solid;
    padding: 20px;
  }
  .nav_link.active::after {
    display: none;
  }
  li:last-child{
    border: none;
  }
  li:first-child{
    border-top: 2px rgba(128, 128, 128, 0.362) solid;
  }
  .nav_lists.show {
    display: flex;
  }
}
@media (max-width: 320px){
  .nav_head{
    font-size: 35px;
  }
}