.search_box {
  margin: 60px auto;
  animation-fill-mode: both;
  position: relative;
  width: 45%;
}
.search_box input {
  background-color: rgba(0, 0, 0, 0.707);
  margin: auto;
  border: none;
  height: 60px;
  width: 100%;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 60px;
  border: white 2px solid;
  font-size: larger;
  color: white;
}
@keyframes searchbx-anime {
  0% {
    width: 15%;
  }
  100% {
    width: 45%;
  }
}
.search_button {
  padding: 5px;
  font-size: 30px;
  position: absolute;
  background: none;
  color: white;
  border: none;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
}
.loadingMovies , .noMoviesFound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

@media (max-width: 1070px) {
  .search_box{
    width: 70%;
  }
  .loadingMovies ,.noMoviesFound{
    margin-top: 150px;
  }
  
}
